<div class="widget-wrap">
  <h3 class="widget-title" style="text-transform:none;">个人github项目</h3>
  <div class="widget">
    <ul class="category-list">
        <li class="category-list-item">
          <a class="category-list-link" href="https://github.com/ArayZou/ArayDeWeather" target="_blank">ArayDeWeather</a>
        </li>
        <li class="category-list-item">
          <a class="category-list-link" href="https://github.com/ArayZou/mantou" target="_blank">mantou</a>
        </li>
    </ul>
  </div>
</div>
<div class="widget-wrap">
  <h3 class="widget-title" style="text-transform:none;">个人分享PPT</h3>
  <div class="widget">
    <ul class="category-list">
        <li class="category-list-item">
          <a class="category-list-link" href="http://arayzou.com/reactppt1" target="_blank">react入门</a>
        </li>
        <li class="category-list-item">
          <a class="category-list-link" href="http://arayzou.com/reactppt2" target="_blank">flux with react理解</a>
        </li>
    </ul>
  </div>
</div>
